/* CS CCS3 */
/*Image entete*/
img {
   height: auto;
   width: 70%;
   padding-top: 1em;
}
/* Personalisation cellules de tableau*/
td {
   color: rgb(29, 99, 66);
   /*couleur cellules*/
   background-color: rgb(185, 196, 28);
   width: 33%;
}
/*table{
  margin: 1em;
}*/
.myTab{
  width: 100%;
  margin: 1% auto;
}
th {
   font-weight: bold;
   /*couleur de l'entete*/
   background-color: #248B14;
}
/* Accentuation texte ds le tableau*/
p {
  font-weight: bolder;
}
/* Visibilité titre ds barNav */
.name p {
   color: white;
}
/*Personalisation entete*/
#myTouch {
   font-size: .4em;
   font-style: italic;
   color: red;
}
/*Personalisation entete des tableaux*/
.panel {
   margin: 1em 1em;
   text-align: center;
   color: rgb(31, 83, 12);
   font-weight: bolder;
   background-color: orange;
   border-radius: 3em;
   box-shadow: .3em .3em darkgray;
}
@media only screen and (max-width: 35em){
   tr p { font-size: 1em;}
}
